/* CSS HEX 
--oxford-blue: #0a1128;
--royal-blue-dark: #001f54;
--maximum-blue-purple: #aeb8fe;
--indigo-dye: #034078;
--irresistible: #b74f6f;
*/


/* Global styles
------------------------------*/
body {
    color: #001f54ff;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 200;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0%;
}


/* The box model fix*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}


img {
    width: 300px;
}
a {
    color: crimson;

}

.butn {
    background: #aeb8fe;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

a:hover{
    text-decoration: none;
    background: rgba(174,184,254, 80%);
}

h1{
    font-size: 100px;
}

h2{
    font-size: 45px;
}

h1, h2, h3{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-weight: 400;
    margin:0
}

h3{
    padding: 20px;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.item-details h3 + p{
    font-style: italic;
}
.item-details h3 ~ p{
    margin: 0;
}

.divider > section{
    border-bottom: 1px dashed white;
    padding: 25px 0;
}

.divider > section:last-of-type{
    border-bottom: none;
}

/* profile
------------------------------*/
header {
    background: #aeb8feff;
    text-align: center;

}

/*Projecs
------------------------------*/
.projects {
    background: #b74f6fff;
    overflow: auto;
}

.project-item h3{
    margin-top: 0%;
}


#porto{
    float: left;
    padding: 0 20px
}


/*work experience
------------------------------*/


.Work-experience {
    background: #034078ff;
    color: white;
    clear: both;
}
.job-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}

.Work-experience h3{
    text-align: left;
}


/* education
------------------------------*/


/* contact info
------------------------------*/
footer {
    background: #0a1128ff;
    color: white;
    text-align: center;

}

.contact-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a{
    padding: 15px
}